env_qrcode/*
env_qrcode
generated_qrcode
apps/qr-desktop-python/generated_qrcode/
webapp/

**/__pycache__/
*.py[cod]

build/
dist/
*.spec
shared/assets/*.iconset/

.venv/
venv/

.DS_Store
Thumbs.db

.idea/
.vscode/

.pytest_cache/

# Node / Vite
node_modules/
*.tsbuildinfo
.vite/
